h1{
			text-align: center;
			font-size: 175%;
		}
		*{
			box-sizing: border-box;
			
		}
		body{
			font-family: verdana ;
		}
		p{
			
			padding: 10px;
		}
		.box{
			background-color: lightblue;
			border: 1px solid black;
			margin-bottom: 10px;
			padding: 10px 5px 0px 5px;

		}

		#main{
			position: relative;

		}
		

	


		#p1{
			position: absolute;
			width: 100px;
			top: -20px;
			right: 0px;
			background-color: green;
			padding: 1px; 
			text-align: center;
			font-size: 125%;
		}
		#p2{
			position: absolute;
			width: 100px;
			top: -20px;
			right: 0px;
			margin-top: 17;
			background-color: white;
			padding: 1px;
			text-align: center;
			font-size: 125%;
		}
		#p3{
			background-color: yellowgreen;
			position: absolute;
			width: 100px;
			top: -20px;
			right: 0px;
			margin-top: 17;
			padding: 1px;
			text-align: center; 
			font-size: 125%;
		}
		#one{
			position: relative;
			width: 90%;
			margin-bottom: 10px;
			margin-left: 10px;
			word-wrap: break-word;
			
		}
		#two{
			position: relative;
			width: 90%;
			margin-bottom: 10px;
			margin-left: 10px;
			word-wrap: break-word;


		}
		#three{
			position: relative;
			width: 90%;
			margin-left: 10px;
			word-wrap: break-word;

		}

	@media all and (min-width: 768px) and (max-width: 991px){
			#one {
				float: left;
				width: 45%;
				

			}
			#two {
				float: left;
				margin-left: 2%;
				width: 45%;
			}
			#three {
				width: 92%;
				margin-right: 20px;
				clear: left;

			}
			


		}
		@media all and (min-width: 992px){
			h1{
				margin-bottom: 30px;
			}

			#one{
			width: 29%;
			float: left;
			margin-left: 20px;
			position: relative
			


			}
			#two{
			width: 29%;
			position: relative;
			margin-left: 2%;
			margin-right: 2%;
			float: left;
			
			}
			#three{
			width: 29%;
			float: left;
			position: relative;
			}
		}
